.slider {
  height: 200px;
}
.slider .slides {
  height: 200px;
  background-color: white;
}

.slider .slides li{
  overflow-y: auto;
}

.slider .slides li img {
  width: 100px;
  height: auto;
  margin-top: 20px;
}
.slider .slides li .caption {
  top: 5px;
  left: 120px;
  color: rgba(0, 0, 0, 0.87);
  width: 77%;
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.slider .indicators .indicator-item.active {
  background-color: #b0bec5;
}

#fade1 {
  opacity: 0;
}

#fade2 {
  opacity: 0;
}

#fade3 {
  opacity: 0;
}

#fade4 {
  opacity: 0;
}

.bio {
  text-indent: 50px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

#aboutme {
  max-width: 900px;
  margin: auto;
}

#projects {
  max-width: 900px;
  margin: auto;
}

#skills {
  max-width: 900px;
  margin: auto;
}

#references {
  max-width: 900px;
  margin: auto;
}

#contact {
  max-width: 900px;
  margin: auto;
}

#textarea1 {
  min-height: 9.93rem;
}

/* label color */
   .input-field label {
     color: #b0bec5;
   }
   /* label underline color */
   .input-field input[type=text], textarea.materialize-textarea{
     border-bottom: 1px solid #90a4ae;
     box-shadow: none;
     color: white;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label, textarea.materialize-textarea:focus + label:not([readonly]){
     color: #FFFFFF;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus, textarea.materialize-textarea:focus:not([readonly]){
     border-bottom: 1px solid #FFFFFF;
     box-shadow: 0 1px 0 0 #FFFFFF;
   }
   /* valid color */
   /*.input-field input[type=text].valid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/
   /* invalid color */
   /*.input-field input[type=text].invalid {
     border-bottom: 1px solid #000;
     box-shadow: 0 1px 0 0 #000;
   }*/
   /* icon prefix focus color */
   /*.input-field .prefix.active {
     color: #000;
   }*/