.slider {
  height: 200px;
}
.slider .slides {
  height: 200px;
  background-color: white;
}

.slider .slides li{
  overflow-y: auto;
}

.slider .slides li img {
  width: 100px;
  height: auto;
  margin-top: 20px;
}
.slider .slides li .caption {
  top: 5px;
  left: 120px;
  color: rgba(0, 0, 0, 0.87);
}

.slider .indicators {
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
}

.slider .indicators .indicator-item.active {
  background-color: #b0bec5;
}

#fade1 {
  opacity: 0;
}

#fade2 {
  opacity: 0;
}

#fade3 {
  opacity: 0;
}

#fade4 {
  opacity: 0;
}

/*.slider .slides li img {
  width: 125px;
  height: auto;
  vertical-align: top;
}
.slider .slides li .caption {
  display: inline-block;
  position: static;
  margin-left: 25px;
  color: rgba(0, 0, 0, 0.87);
}*/